# Port server upload service
PORT=4000

# Konfigurasi Koneksi MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Nama Bucket untuk menyimpan gambar
MINIO_BUCKET=ecommerce-images

# Prefix URL publik untuk mengakses gambar dari browser
MINIO_PUBLIC_URL=http://localhost:9000/ecommerce-images
